[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
langchain = "*"
langgraph = "*"
python-dotenv = "*"
ipykernel = "*"
langchain-openai = "*"

[dev-packages]

[requires]
python_version = "3.11"
